  <div class="header" ng-controller="NavbarCtrl">
    <ul class="nav nav-pills pull-right buttons">
      <li><img class="rounded-image" ng-if="currentUser.profile_picture" ng-src="{{currentUser.profile_picture}}"></li>
      <li class="name"><ng-show="currentUser.facebook">{{currentUser.facebook.name}}</li>
    </ul>
    <ul class="nav nav-pills morebuttons">
      <li ng-show="currentUser.facebook" ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a class='active' ng-href="{{item.link}}" >{{item.title}}</a>
      </li>
      <li ng-show="currentUser.facebook" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a>
      </li>
    </ul>
    <h3 class="text-muted"></h3>
  </div>
